body {
    margin: 0;
    background: black;
    overflow: hidden;
}

.screen {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.active {
    display: flex;
}

#opening {
    background: black;
}

#envelope {
    width: min(70vw, 500px);
    cursor: pointer;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background: black;
}

.invite-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-invite {
    max-height: 80vh;
    object-fit: contain;
}

.buttons-row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.buttons-row img {
    width: 110px;
    cursor: pointer;
}

button {
    background: none;
    border: none;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.85);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal img {
    max-height: 95vh;
    max-width: 95vw;
}
